.body {
    overflow: hidden;
}

.cadastro-container {
    background-color: black;
    border: 2px solid var(--cor-principal); 
    border-radius: 50px;
    padding: 2rem;
    margin: 40rem;
    width: 35rem; 
    margin-top: 15%;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    color: var(--cor-secundaria); /* Texto principal branco */
    position: fixed;
}


.cadastro-title {
    color: var(--cor-principal); /* Azul */
    font-size: 2.5rem;
    margin-bottom: 30px;
    font-weight: bold;
}

.cadastro-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.cadastro-form input {
    background-color: var(--cor-secundaria); /* Fundo branco */
    border: none;
    border-radius: 20px; 
    padding: 12px 20px;
    font-size: 1rem;
    color: #333; 
    outline: none;
}

.cadastro-form input::placeholder {
    color: #999; 
}

.cadastro-button {
    background-color: var(--cor-principal); /* Azul */
    color: var(--cor-secundaria); /* Texto branco */
    border: none;
    border-radius: 20px;
    padding: 12px 25px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.cadastro-button:hover {
    background-color: #0077cc;
}

.cadastro-links {
    font-size: 0.9rem;
    color: var(--cor-secundaria);
}

.cadastro-links a {
    color: var(--cor-principal); /* Azul */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.cadastro-links a:hover {
    color: #0077cc;
}