.footer {
  background: var(--cor-fundo-principal); /* branco */
  padding: 40px 0 25px 0;
  color: var(--cor-quintenaria); /* preto */
  font-family: "Poppins", sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
  gap: 40px;
}

.footer-title {
  color: var(--cor-principal); /* azul */
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 12px;
}

.footer-text {
  font-size: 0.95rem;
  opacity: 0.85;
  margin-bottom: 6px;
  color: var(--cor-quintenaria); /* preto */
}

.footer-copy {
  text-align: center;
  margin-top: 30px;
  opacity: 0.6;
  font-size: 0.85rem;
  color: var(--cor-quintenaria); /* preto */
}

/* RESPONSIVO */
@media (max-width: 700px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}
