/* Definição das cores base (Tema Escuro, por exemplo) */
:root {
    /* Cores do background e texto */
    --cor-fundo-principal: #00000000;
    --cor-fundo-destaque: #00000000;
    --cor-principal: #0096ff;
    --cor-secundaria: #ffffff;
    --cor-terciaria: #ff6900;
    --cor-quartenaria: #53adec;
}

Body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    overflow: scroll;
}

